@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary: #e0218a;
  --text-hero: 2rem;
} */

html {
  font-family: var(--font-alata);
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(224 33 138/20%) 0%,
    rgb(251 233 215/20%) 100%
  );
}

/* body {
  --angle: 45deg;
  background: linear-gradient(
    var(--angle),
    #ffffff,
    #f2f2f2,
    #e6e6e6,
    #d9d9d9,
    #cccccc
  );
} */

h1 {
  font-size: var(--text-hero);
  line-height: 1.4;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
}

/* .grid-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

/* .ba-grid {
  position: relative;
  z-index: 1;

  background-image: linear-gradient(
    45deg,
    rgba(224 33 138/5%),
    rgba(195 234 249/10%)
  );
}

.inner {
  background-image: linear-gradient(var(--line-color), transparent 0.5px),
    linear-gradient(to right, var(--line-color), transparent 0.5px);
  background-size: 100% var(--gird-height), var(--gird-width) 100%;
} */

/* .ba-grid:before,
.ba-grid:after,
.inner:before,
.inner:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: overlay;
} */

/* .ba-grid:after {
  background-image: radial-gradient(var(--dot-color) 0.5px, transparent 0.5px);
  background-size: var(--point-gap-width) var(--point-gap-height);
  background-position: calc(var(--point-gap-width) / 2)
    calc(var(--point-gap-height) / 2);
} */
/* 
.inner:before,
.inner:after {
  background-image: radial-gradient(
    var(--dot-color) var(--dot-size),
    transparent var(--dot-size)
  );
  background-size: var(--point-gap-width) var(--point-gap-height);
  background-position: calc(var(--point-gap-width) / 2)
    calc(var(--point-gap-height) / 2);
}

.inner:after {
  transform: scale(1.1, 1.1);
}

.inner:before {
  transform: scale(1.2, 1.2);
} */

/* 
.anim:after {
  animation: 6.4s linear move infinite;
}

.anim .inner:after {
  animation: 3.2s linear move infinite;
}

.anim .inner:before {
  animation: 1.6s linear move infinite;
} */

@keyframes move {
  0% {
    background-position: calc(var(--point-gap-width) / 2)
      calc(var(--point-gap-height) / 2);
  }
  100% {
    background-position: calc(var(--point-gap-width) / 2)
      calc(var(--point-gap-height) / 2 * -1);
  }
}

.rfm-marquee-container {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* .github-card-shiny {
  background: linear-gradient(
    -45deg,
    rgba(248, 155, 41, 1),
    rgba(255, 15, 123, 1),
    #ff6f61,
    #ffcc33
  );
  background-size: 400% 400%;
  animation: rotateGradient 15s ease infinite;
} */

/* @keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.github-card-shiny {
  background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blur {
  position: absolute;
  inset: 0;

  filter: blur(10px);
}

.blur .glow {
  border-color: transparent;
}

.blur .glow::after {
  background: radial-gradient(
    circle at center,
    hsl(340 100% 80%),
    transparent 50%
  );
}

.glow {
  position: absolute;
  inset: 0;

  border: 2px solid rgb(224 33 138/3.5%);
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;

  pointer-events: none;
}

.glow::after {
  content: "";
  offset-path: rect(0 auto auto 0 round var(--radius));
  animation: offset-loop 6s infinite linear;

  background: radial-gradient(
    circle at center,
    hsl(340 100% 70%),
    transparent 50%
  );

  display: block;
  width: 20rem;
  height: 20rem;
}

@keyframes offset-loop {
  to {
    offset-distance: 100%;
  }
}

.container {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --gird-width: 70px;
    --gird-height: 70px;
    --line-color: #999;
    --dot-color: #ccc;
    --dot-size: 2px;
    --point-gap-width: calc(var(--gird-width) * 4);
    --point-gap-height: calc(var(--gird-height) * 4);
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 327 75% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --text-hero: 2rem;
    --text-vietnam: var(--text-vietnam);
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
